.app {
    @apply tw-w-full
     tw-bg-[image:url("https://img.pincman.com/media/202305242046398.png")]
     tw-bg-cover
     tw-bg-no-repeat
     tw-bg-center
     tw-flex 
     tw-items-center 
     tw-justify-center
     tw-flex-col;

    & > .container {
        @apply tw-shadow-md tw-p-5 tw-bg-black tw-text-center tw-text-white tw-text-lg;
    }

    & > .test {
        @apply tw-w-[20rem] tw-h-[10rem];
    }
}

html[data-theme='tw-dark'] {
    .app {
        @apply tw-bg-[image:url("https://img.pincman.com/media/202305242029933.png")];
    }

    .test {
        @apply tw-bg-black/20 
            tw-text-white/75   
             tw-shadow-slate-200/20
             hover:tw-shadow-slate-200/20;
    }
}
