/* 添加自定义tailwind组件层样式,一般无特殊需求可以用react组件抽象而不是在这里定义css类 */

/* 如果要引用tailwind自带的值或tailwind.config.js的theme中配置的值,可以通过 "@apply"指令或"theme"函数获取 */

/* 在"@layer"中添加的样式如果在程序中没有用到会在编译后被清除,如果需要强制存在于编译后的样式表,请在"@layer"外定义 */

/* 示例:
.btn-primary {
    @apply px-4 py-2 font-semibold text-white bg-blue-500 rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
} */

@layer components {
    /* 一个毛玻璃块 */
    .tw-panel {
        @apply tw-mt-6
                    tw-bg-zinc-300/25
                    tw-shadow-slate-700/20
                    tw-shadow-md
                    hover:tw-shadow-lg
                    hover:tw-shadow-slate-700/20
                    tw-transition-shadow
                    tw-rounded-lg
                    tw-backdrop-blur-sm
                    tw-flex
                    tw-items-center
                    tw-justify-center
                    tw-text-black/75
                    dark:tw-bg-black/20 
           dark:tw-text-white/75   
             dark:tw-shadow-slate-200/20
             dark:hover:tw-shadow-slate-200/20;
    }
}
