/* 添加自定义tailwindg工具层样式,可以在这里添加一些tailwind中不存在的一些样式类 */

/* 如果要引用tailwind自带的值或tailwind.config.js的theme中配置的值,可以通过 "@apply"指令或"theme"函数获取 */

/* 在"@layer"中添加的样式如果在程序中没有用到会在编译后被清除,如果需要强制存在于编译后的样式表,请在"@layer"外定义 */

/* 示例:
.content-auto {
    content-visibility: auto;
} */

@layer utilities {
    /* 鼠标移动到文字出现渐进式下划线 */
    .tw-animate-decoration {
        background: linear-gradient(red, blue) 0% 100% / 0% 1px no-repeat;
        transition: background-size ease-out 200ms;

        &:not(:focus):hover {
            background-size: 100% 1px;
        }
    }
}
