.layoutMode,
.layoutTheme {
    @apply tw-flex tw-justify-around;

    :global {
        & .item {
            @apply tw-relative tw-w-14 tw-h-12 tw-mr-4 tw-overflow-hidden
        tw-cursor-pointer tw-bg-[color:#f0f2f5] tw-rounded
        before:tw-absolute before:tw-content-[''] after:tw-absolute after:tw-content-[''];
            box-shadow: 0 1px 2.5px 0 rgb(0 0 0 / 18%);

            &:hover,
            &.active {
                @apply before:tw-rounded-none before:tw-content-[''] after:tw-rounded-none after:tw-content-[''];
            }

            &.side,
            &.dark-light,
            &.light-dark,
            &.light-light,
            &.dark-dark {
                &::before {
                    @apply tw-content-[''] tw-top-0 tw-left-0 tw-z-[1] tw-w-[33%] tw-h-full tw-rounded-l-[0.25rem] tw-rounded-r-none;
                }

                &::after {
                    @apply tw-content-[''] tw-top-0 tw-left-0 tw-w-full tw-h-1/4;
                }
            }

            &.side,
            &.dark-light {
                @apply before:tw-content-[''] after:tw-content-[''] before:tw-bg-[color:#273352] after:tw-bg-[color:#fff];
            }

            &.light-dark {
                @apply before:tw-content-[''] after:tw-content-[''] before:tw-bg-[color:#fff] after:tw-bg-[color:#273352];
            }

            &.light-light {
                @apply before:tw-content-[''] after:tw-content-[''] before:tw-bg-[color:#fff] after:tw-bg-[color:#fff];
            }

            &.dark-dark {
                @apply before:tw-content-[''] after:tw-content-[''] before:tw-bg-[color:#273352] after:tw-bg-[color:#273352];
            }

            &.content {
                &::before {
                    @apply tw-content-[''] tw-top-0 tw-left-0 tw-w-[33%] tw-h-full tw-bg-[color:#273352] tw-rounded-l-[0.25rem] tw-rounded-r-none;
                }

                &::after {
                    @apply tw-content-[''] tw-top-0 tw-left-0 tw-z-[1] tw-w-full tw-h-1/4 tw-bg-[color:#fff];
                }
            }

            &.top {
                @apply before:tw-content-[''] after:tw-content-[''] after:tw-top-0 after:tw-left-0 after:tw-w-full after:tw-h-1/4 after:tw-bg-[color:#273352];
            }

            &.embed {
                &::before {
                    @apply tw-content-[''] tw-top-0 tw-left-0 tw-z-[1] tw-w-[15%] tw-h-full tw-bg-[color:#273352] tw-rounded-l-[0.25rem] tw-rounded-r-none;
                }

                &::after {
                    @apply tw-content-[''] tw-top-0 tw-left-0 tw-w-full tw-h-1/4 tw-bg-[color:#fff];
                }

                & > .content-sidebar {
                    @apply tw-absolute tw-left-[15%] tw-w-1/5 tw-h-full tw-bg-[color:#fff];
                }
            }
        }
    }

    /* :global {
        & .item {
            position: relative;
            width: 56px;
            height: 48px;
            margin-right: 16px;
            overflow: hidden;
            cursor: pointer;
            background-color: #f0f2f5;
            border-radius: 4px;
            box-shadow: 0 1px 2.5px 0 rgb(0 0 0 / 18%);

            &::before,
            &::after {
                position: absolute;
                content: '';
            }

            &:hover,
            &.active {
                padding: 12px;

                &::before,
                &::after {
                    border-radius: 0;
                }
            }

            &.side,
            &.dark-light,
            &.light-dark,
            &.light-light,
            &.dark-dark {
                &::before {
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 33%;
                    height: 100%;
                    border-radius: 4px 0 0 4px;
                }

                &::after {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 25%;
                }
            }

            &.side,
            &.dark-light {
                &::before {
                    background-color: #273352;
                }

                &::after {
                    background-color: #fff;
                }
            }

            &.light-dark {
                &::before {
                    background-color: #fff;
                }

                &::after {
                    background-color: #273352;
                }
            }

            &.light-light {
                &::before {
                    background-color: #fff;
                }

                &::after {
                    background-color: #fff;
                }
            }

            &.dark-dark {
                &::before {
                    background-color: #273352;
                }

                &::after {
                    background-color: #273352;
                }
            }

            &.content {
                &::before {
                    top: 0;
                    left: 0;
                    width: 33%;
                    height: 100%;
                    background-color: #273352;
                    border-radius: 4px 0 0 4px;
                }

                &::after {
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 25%;
                    background-color: #fff;
                }
            }

            &.top {
                &::after {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 25%;
                    background-color: #273352;
                }
            }

            &.embed {
                &::before {
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 15%;
                    height: 100%;
                    background-color: #273352;
                    border-radius: 4px 0 0 4px;
                }

                &::after {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 25%;
                    background-color: #fff;
                }

                & > .content-sidebar {
                    position: absolute;
                    left: 15%;
                    width: 20%;
                    height: 100%;
                    background-color: #fff;
                }
            }
        }
    } */
}

.color-setting {
    display: flex;
    justify-content: space-around;

    :global {
        & .item {
            & > .swatch {
                display: inline-block;
                padding: 5px;
                cursor: pointer;
                background-color: #fff;
                border-radius: 1px;
                box-shadow: 0 0 0 1px rgb(0 0 0 / 10%);

                & > .swatch-color {
                    width: 36px;
                    height: 14px;
                    border-radius: 2px;
                }
            }

            & > .picker-popover {
                position: absolute;
                z-index: 2;

                & > .picker-cover {
                    position: fixed;
                    inset: 0;
                }
            }
        }
    }
}
