html,
body,
#root {
    @apply tw-w-full tw-p-0 tw-m-0;
}

html {
    @apply tw-h-[100vh];
}

body,
#root {
    @apply tw-h-full;
}

body {
    @apply tw-bg-[url(./images/bg-light.png)];
}

#root {
    @apply tw-flex;
}

html[data-theme='tw-dark'] body {
    @apply tw-bg-[url(./images/bg-dark.png)] tw-text-zinc-200;
}
